<!-- Footer 영역 -->
<div class="main_footer" id="footer">
  <div class="moreinfo">
    <img src="/img/common/footer_moreinfoText.png" />
  </div>

  <div class="oneline">
    <div class="element">
      <div class="icon">
        <a href="tel:02-568-2833" data-ajax="false">
          <img src="/img/common/phoneIcon1.png" />
        </a>
      </div>
      <div class="caption">
      </div>
    </div>

    <div class="element">
      <div class="icon">
        <a href="/about" data-ajax="false">
          <img src="/img/common/ccllpIcon1.png" />
        </a>
      </div>
      <div class="caption">
      </div>
    </div>

    <div class="element">
      <div class="icon">
        <a href="sms:02-568-2833" data-ajax="false">
          <img src="/img/common/smsIcon1.png" />
        </a>
      </div>
      <div class="caption">
      </div>
    </div>

  </div>


  <div class="oneline">
    <div class="element">
      <div class="icon">
        <a href="http://cclkr.blog.me" target="_blank" data-ajax="false">
          <img src="/img/common/blogIcon1.png" />
        </a>
      </div>
      <div class="caption">
      </div>
    </div>

    <div class="element">
      <div class="icon">
        <a href="/clip" data-ajax="false">
          <img src="/img/common/clipIcon1.png" />
        </a>
      </div>
      <div class="caption">
      </div>
    </div>

    <div class="element">
      <div class="icon">
        <a href="/" data-ajax="false">
          <img src="/img/common/indexIcon1.png" />
        </a>
      </div>
      <div class="caption">
      </div>
    </div>
  </div>



  <div class="oneline">
    <div class="element">
      <div class="icon">
        <a href="/event" data-ajax="false">
          <img src="/img/common/eventIcon1.png" />
        </a>
      </div>
      <div class="caption">
      </div>
    </div>

  </div>

  <div class="corp_info">
    <!--<img class="left" style="width:170px;margin:10px 0 0 5px" src="/img/common/footer_corpInfo.png"/>-->
    <div class="left" style="width:170px;margin:5px 0 0 5px;font-size:0.75em; text-align:left; color: white; text-shadow: none;font-weight: bold">
      <p> 사업자 등록번호 : 211-90-93551 </p>
      <p> 씨씨엘 치과의원 대표자 서종진 </p>
      <p> Copyright @ 2013 CCL DENT </p>
    </div>
    <a href="tel:02-568-2833" target:"_blank"><img class="right" style="height:40px;margin:5px 5px 0 0" src="/img/common/footer_telNumber.png"/></a>
  </div>

</div><!-- footer 끝 -->
