<div class="main_header" style="text-align: center">
  <div class="logo" style="float: left">
    <a href="/" data-ajax="false"><img src="/img/common/header_cclLogo.png" alt="CCL MUSE"></a>
  </div>
  <!--<div class="phone_call" style="display:inline-block; color: white; font-weight: bold; margin-top:10px">
    <%= image_tag('icon_phone.png') %>
    <span> 전화 </span>
  </div>-->
  <div class="nu">
    <a href="#footer" data-theme="a" data-ajax="false"><b>MENU</b></a>
  </div>
</div><!-- header 끝 -->
