*{
	margin:0;
	padding:0;
	border:0;
}

html, body{
	background:#ffffff;
	height:100%;
}

.main_header{
	background:#000000;
	height:50px;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	overflow: visible;
        z-index:1000;
}

.main_header .logo{
	margin:10px 0px 5px 10px;
	vertical-align:middle;
	height: 30px;
	width:116px;
	display:inline-block;
}

.main_header .logo img{
	height:30px;
	width:116px;
}

.main_header .nu{
	float:right;
	margin-top:15px;
	margin-right:15px;
/*	width:47px; */
/*	height:10px;*/
	display:inline-block;
}

.main_header .nu a:link {text-decoration:none; color:#fff;}
.main_header .nu a:visited {text-decoration:none; color:#fff;}
.main_header .nu a:hover {text-decoration:none; color:#fff;}
.main_header .nu a:active {text-decoration:none; color:#fff;}

.main_footer{
        background:url("/img/pattern_green.png") repeat;
        width:100%;
        text-align:center;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 0.8em;
        font:#ffffff;
        overflow:hidden;
        clear:both;
}

.main_footer .moreinfo{
	background:rgba(256,256,256,0.3);
	/*background:url("images/cover.png") repeat;*/
	width:100%;
	vertical-align:middle;
}

.main_footer .moreinfo img{
	margin:20px 0 20px 0;
}

.main_footer .element{
	margin:5%;
	/*margin-top:15px;*/
	display: inline-block;
}

.main_footer .oneline{
	width:100%;
	vertical-align:top;
	display: inline-block;

}



@media all  and (max-width:480px){
  .main_footer .element{
    width:70px;
    max-width:70px;
  }  
  .main_footer .element .icon img{
    width:70px;
  }
  .main_footer .element .caption img{
    width:80px;
  }
}

@media all and (min-width:481px) and (max-width:767px){
  .main_footer .element{
    width:90px;
    max-width:90px;
  }  
  .main_footer .element .icon img{
    width:90px;
  }
  .main_footer .element .caption img{
    width:100px;
  }
}

@media all and (min-width:768px){
  .main_footer .element{
    width:120px;
    max-width:120px;
  }  
  .main_footer .element .icon img{
    width:120px;
   }
  .main_footer .element .caption img{
    width:140px;
  }
}



.main_footer .caption{
	margin-top:7px;
	width:inherit;
	color:#eeeeee;
	font-weight:bold;
}

.main_footer .corp_info{
	background:#000000;
	width:100%;
	height:50px;
}

.main_footer .corp_info .left{
	float:left;
}

.main_footer .corp_info .right{
	float:right;
}
/*--------------------전화걸기--------------------------*/
.consulting_call {
background: url("/img/common/pattern_blue.png") repeat;
display: block;
height: 2em;
padding: 0.85em 0 1em 0;
}

.consulting_call .title {
    color: white;
    font-size: 1em;
    text-align:center;
    text-shadow: none;
}

.consulting_call .phoneNumber {
    color: black;
    font-size: 0.85em;
    text-align: center;
    text-shadow: none;
}
/*--------------------전화걸기 끝--------------------------*/
/*--------------------메인페이지--------------------------*/

.main_page{
	background:url("/img/pattern_green.png") repeat;
	min-height:100%;
	width:100%;
}

.main_page #main_top{
	padding-top:35%;
	width:100%;
}

.main_page #main_top .cclment{
	height:100%;
	line-height:100%;
	vertical-align:bottom;
	margin-left: 5px;
	margin-bottom: 5px;
}

.main_page #main_top .cclment img{
	width:30%;
	min-width:150px;
	max-width:400px;
}

.main_page #main_middle{
	width:100%;
}

.main_page #main_bottom{
	min-height:35%;
	width:100%;
	text-align:center;
}

.main_page #main_bottom .musement{
	text-align:right;
	margin-right: 5px;
	padding-top: 5px;
}

.main_page #main_bottom .musement img{
	width:30%;
	min-width:150px;
	max-width:400px;
}

.main_page #main_bottom .doswipe{
	clear:both;
	margin: 15% 0 15% 0;
}

.main_page #main_bottom .doswipe img{
	min-width:188px;
	width:30%;
}

.main_page #main_bottom .downarrow{
	margin-bottom:7px;
}

.main_page #main_bottom .downarrow img{
	min-width:53px;
	width:10%;
}


.main_contents{
	background:#ffffff;
	text-align:center;
	margin:30px 0px 30px 0px;
}


.popup_image img{
  max-height:512px;
  width:100%;
}

.popup_button{
  width:100%;
  text-align:center;
}





/*--------------------상담신청 용--------------------------*/
#consult{
 /* width:90%;
  margin:auto;
  margin-top:90px;
  margin-bottom:70px; */
}

#consult .bot{
  margin:auto;
}

.consulting {
background-color: white;
padding : 1em;
}

.consulting h2 {
    text-align: center;
    color: rgb(102, 153, 0);
}

.consulting p {
    text-align: center;
}



/*--------------------before & After 용---------------------*/

.bf_element{
	margin:auto;
	width:300px;
	border:1px;
}

.bf_element .before{
	margin:0px 5px 0px 0px;
	width:140px;
	float:left;
	display:inline-block;
	border:1px;
}

.bf_element .compare{
	width:20px;
	background:url() no-repeat;
	clear:both;
	margin:auto;
	display:inline-block;
	border:1px;
}

.bf_element .after{
	margin:0px 0px 0px 5px;
	width:140px;
	float:right;
	display:inline-block;
	border:1px;
}

.bf_element .descript{
	width:100%;
	text-align:center;
	clear:both;
	border:1px;
}



/*--------------------Event 용---------------------*/

.event{
	width:90%;
	margin:auto;
	margin-top:50px;
	text-align:center;
	clear:both;
	border:1px;
}

.event img{
	width:100%;
	display:block;
}

.event .comment{
	width:100%;
	text-align:center;
}



/*--------------------------------------------------*/

.way{
	width:100%;
	margin-top:50px;
	
}



/*--------------- about ------------------------*/

.about{
	width:100%;
	margin-top:50px;
}

.about hr {

	border:#eee 1px dotted;

	margin-top:25px;

	margin-bottom:25px;

}



.about .content_text {

	padding-left:8%;

	padding-right:8%;

	padding-top:2%;

	padding-bottom:2%;

	font-size:1.0em;

	text-align: justify;

	color:#666666;

	line-height: 150%;

}



.about .content_text h1{

	font-size:140%;

	color:#669900;

	font-weight: bold;

	margin-top:50px;

	margin-bottom:20px;

}



.about .content_text h2{

	font-size:120%;

	color:#666666;

	font-weight: normal;

	padding-top: 15px;

	padding-bottom: 15px;

}



.about .content_text p {

	padding-top: 15px;

	padding-bottom: 15px;

}



.about .content_text ol {

	padding:0;

	font-size:inherit;

	margin-bottom:30px;

}



.about .content_text li {

	text-align:right;

	font-weight:bold;

	list-style-type:none;

	margin-top:30px;

	margin-bottom:15px;

	font-size:130%;

	font-weight:bold;

	color:#333333;

}



.about .content_text li img {

	width:100%;

	filter:alpha(opacity=70);

	opacity: 0.7;

	-moz-opacity:0.3;

}



/*----------- movie ----------------*/
.clip_element{
   /* width:95%; */
   margin:0px auto 0px;
   border-bottom:1px dotted #cccccc;
   font-weight:bold;
   clear:both;  
}

.clip_element .movie_area{
  /* width:90%; */ 
  margin:5px auto 1%;
  border:0px;

}

.clip_element .name_area{
}

.clip_element .kakao_area{
  margin-bottom:40px;
}

.clip_element .kakao_area img{
   min-width:90px;
   max-width:200px;
   width:40%;
}
