hr {
	border:#eee 1px dotted;
	margin-top:25px;
	margin-bottom:25px;
}

hr .clip {
	border:#eee 1px dotted;
	margin-top:25px;
	margin-bottom:25px;
}

.content_text {
	padding: 30px 8% 30px 8%;
	font-size:1.0em;
	text-align: justify;
	background-color:#ffffff;
	color:#666666;
	line-height: 150%;
}

.content_text h1{
	font-size:140%;
	color:#669900;
	font-weight: bold;
	margin-top:50px;
	margin-bottom:20px;
}

.content_text h2{
	font-size:120%;
	color:#666666;
	font-weight: normal;
	padding-top: 15px;
	padding-bottom: 15px;
}

.content_text h3{
	font-size:120%;
	color:#669900;
	font-weight: normal;
	padding-top: 20px;
	padding-bottom: 20px;
}

.content_text p {
	padding-top: 15px;
	padding-bottom: 15px;
}

.content_text ol {
	padding:0;
	font-size:inherit;
	margin-bottom:30px;
}

.content_text li {
	text-align:right;
	font-weight:bold;
	list-style-type:none;
	margin-top:30px;
	margin-bottom:15px;
	font-size:130%;
	font-weight:bold;
	color:#333333;
}

.content_text li img {
	width:100%;
	filter:alpha(opacity=70);
	opacity: 0.7;
	-moz-opacity:0.3;
}